<% key,cls_name =flash_key_cls(flash) %>
<% if !!key && flash[key].present? %>
	<div class="alert alert-<%=cls_name%> text-center mt-2" id="flash_message" role="alert">
		<%= flash[key] %>
	</div>
<% end %>
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
					<%= form_tag logged_in_path, id:'user_login' do %>
        	  <%= label_tag :email %>
						<%= text_field_tag :email, "", class: 'form-control'%>
					  <label id="email_error"  class="d_none t_error mb-3"></label><br>

						<%= label_tag :password %>
						<%= password_field_tag :password, "", class: 'form-control'%>
						<label id="pwd_error"  class="d_none t_error mb-3"></label><br>

						<p class="text-center">
							<%= submit_tag "Login", class:'btn btn-lg btn-primary pl-3 pr-3'%>
						</p>
					<% end %>
					<p class="text-center"> If not registered,
          	<%= link_to "Create account", signup_path %>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>