<div class="container">
  <div class="row mt-5">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-2">
        <div class="card-body">
          <h5 class="card-title text-center">Sign Up</h5>
					<%= form_for :user, url: '/register', html: {id:'new_user'} do |f| %>
					  Name: <%= f.text_field :name , class: 'form-control mt-2 mb-2' %>
					  	<label id="name_error" class="d_none t_error"></label><br>
					  Email: <%= f.text_field :email , class: 'form-control mt-2 mb-2' %>
					  	<label id="email_error"  class="d_none t_error"></label><br>
					  Password: <%= f.password_field :password , class: 'form-control mt-2 mb-2' %>
							<label id="pwd_error"  class="d_none t_error"></label><br>
					  Password Confirmation: <%= f.password_field :password_confirmation , class: 'form-control mt-2 mb-2' %>
					  	<label id="cmf_pwd_error"  class="d_none t_error"></label><br>
					  Gender: <%= f.radio_button :gender, :Female, class:'mr-2 ml-2' %>Female
										<%= f.radio_button :gender, :Male, class:'mr-2 ml-2' %>Male <br>
						<p class="text-center mt-4">
							<%= f.submit "Create account", class:'btn btn-success mt-2 mb-2' %>
						</p>
					<% end %>
					<p class="text-center">
						If already registered, Please <%= link_to "Signin", login_path %>.
					</p>
        </div>
      </div>
    </div>
  </div>
</div>

