<% key,cls_name =flash_key_cls(flash) %>
<% if !!key && flash[key].present? %>
	<div class="alert alert-<%=cls_name%> text-center" id="flash_message" role="alert">
		<%= flash[key] %>
	</div>
<% end %>
<div class="container mt-4">
	<h4>Events:</h4>
	<table class="table table-bordered">
	  <thead>
	    <tr>
	      <th scope="col">Sl no.</th>
	      <th scope="col">Event</th>
	      <% if current_user %>
	      	<th scope="col">Attend/Unattend</th>
	      <% end %>
	    </tr>
	  </thead>
	  <tbody>
	  	<%@events.each_with_index do |event,index| %>
	      <tr>
		      <td><%= index+1 %></td>
		      <td><%= link_to event.title, event_details_path(event)%></td>
		      <% if current_user %>
		      	<% if(attend_status(event) == 'Event Over')%>
		      		<td>Event Over</td>
		      	<% else %>
							<td><%= button_to attend_status(event), attend_path(event) %></td>
						<% end %>
	 				<% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>